/* You can add global styles to this file, and also import other style files */

$errorNotificationColor: red;
$warningNotificationColor: #be8c00;
$successNotificationColor: rgb(0, 128, 79);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.red-snackbar {
  background: $errorNotificationColor;
  color: white;
}

.yellow-snackbar {
  background: $warningNotificationColor;
  color: white;
}

.green-snackbar {
  background: $successNotificationColor;
  color: white;
}
