@import "src/assets/styles/sharedstyles.scss";

.authentication-container {
  width: 100%;
  height: 100vh;
  @include center();
  background-image: url("https://idc.brightspotcdn.com/dims4/default/387d311/2147483647/resize/800x%3E/quality/90/?url=https%3A%2F%2Fidc.brightspotcdn.com%2Fc2%2Fdf%2F657f01ef4114b74d063b2618b68b%2Fadobestock-336831758.jpeg");
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  .authentication-card {
    @include center();
    @include title();
    @include form-controller(
      (
        Properties: (
          height: 30px,
        ),
      )
    );
    @include subtitle();
    width: 400px;
    height: auto;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    font-family: "Varela Round", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h1 {
      font-weight: 800;
    }
    app-login {
      width: 100%;
      height: 100%;
    }
    app-register {
      width: 100%;
      height: 100%;
    }
    transition: all 250ms ease-in;
  }
}
@media screen and(max-width:500px) {
  .authentication-container {
    .authentication-card {
      width: 300px;
      h1 {
        font-size: 2.5rem;
      }
    }
  }
}
