@import "src/assets/styles/sharedstyles.scss";
.booking-container {
  @include title();
  @include subtitle();
  @include container();
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .menu-items {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .bookings {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    gap: 1rem;
    flex-wrap: wrap;

    .single-booking {
      @include container();
      width: 200px;
      height: 250px;
      border: 1px solid;
      border-radius: 10px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: white;
    }
  }
}
@media screen and (max-width: 500px) {
  .booking-container {
    height: auto;
    .bookings {
      height: auto;
    }
  }
}
