@import "src/assets/styles/sharedstyles.scss";

.booking {
  @include title();
  @include button();
  button {
    margin-bottom: 10px;
    width: 100%;
  }
  @include form-controller(
    (
      Properties: (
        height: 20px,
      ),
    )
  );
  display: flex;
  flex-direction: column;
}
