<div class="card-container">
  <h1>Tarjetas</h1>
  <div class="menu-items">
    <app-menu-item
      [menuItem]="'Crear Tarjeta'"
      [imageUrl]="'https://av.sc.com/in/content/images/virtual-credit-card.jpg'"
      (click)="createCard()"
    ></app-menu-item>
  </div>
  <h1>Tarjetas Creadas</h1>

  <div class="cards">
    <div class="single-card mat-elevation-z4">
      <p>Numero de tarjeta</p>
      <p>Fecha de expiracion</p>
      <p>Nombre del dueño</p>
    </div>
    <div class="single-card mat-elevation-z4">
      <p>Numero de tarjeta</p>
      <p>Fecha de expiracion</p>
      <p>Nombre del dueño</p>
    </div>
  </div>
</div>
