@import "src/assets/styles/sharedstyles.scss";
.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  @include paragraph();
  @include title();
  @include subtitle();
  @include button();
  .left-container {
    width: 70%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: center;
    position: relative;
    h1,
    h2 {
      color: white;
    }
  }
  .right-container {
    width: 30%;
    height: 100%;
    background-color: white;
    //display: flex;
    align-items: center;
    padding: 30px;
    justify-content: center;
    .logo-row {
      height: 20%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .logo {
        height: 50%;
      }
    }
    .form-row {
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      form {
        width: 100%;
        .mail-row {
          display: flex;
          justify-content: center;
          width: 100%;
          .mail-field {
            box-sizing: border-box;
            width: 100%;
            margin: 0 5em;
          }
        }
        .password-row {
          display: flex;
          justify-content: center;
          width: 100%;
          margin-top: 2em;
          .password-field {
            box-sizing: border-box;
            width: 100%;
            margin: 0 5em;
            button {
              background-color: transparent;
              mat-icon {
                color: black;
              }
            }
          }
        }
      }
      .links-row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        box-sizing: border-box;
        padding: 2rem 5rem;
        .left-link-col {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          width: 50%;
          flex-direction: column;
        }
        .right-link-col {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          width: 50%;
          flex-direction: column;
        }
      }
    }
    .message-row {
      height: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      .message-title {
        color: #282a3f;
        font-weight: 600;
        font-size: 1.2rem;
        text-align: center;
        margin: 0 6rem;
      }
    }
    .button-row {
      display: flex;
      justify-content: center;
      width: 100%;
      .login-btn {
        background-color: #6675df !important;
        color: #fff;
        border-radius: 20px;
        box-sizing: border-box;
        width: 100%;
        margin: 0 8em;
      }
      .login-btn:hover {
        filter: brightness(0.8);
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .login-container {
    flex-direction: column;
    .left-container {
      width: 100%;
      align-items: center;
      justify-content: center;
      height: 50%;
      h1 {
        font-size: 2.5rem;
      }
      h2 {
        font-size: 2rem;
      }
    }
    .right-container {
      width: 100%;
      height: 50%;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
