<div class="login-container">
    <div class="left-panel">
        <div class="aboutus-row">
            <div class="aboutus-col">
                <h1>Welcome to Tutofinder!</h1>
                <p> Click here for more information about
                    us</p>
                <a href="https://w7moises.github.io/AplicacionesLandingPage/" target="_blank">
                    <button>ABOUT US</button>
                </a>
            </div>

        </div>
    </div>
    <div class="right-panel">
        <div class="logo-row">
            <img class="logo" src="../assets/imgs/tutofinder.png" alt="Tutofinder">
        </div>
        
    </div>

    
</div>