<div class="limiter">
    <div class="login-container">
        <div class="wrap-login">
            <form class="right-panel" >
                <div class="logo-row">
                    <img class="logo" src="../assets/imgs/tutofinder.png" alt="Tutofinder">
                </div>
            </form>
            <div class="left-panel" style="background-image: url('https://idc.brightspotcdn.com/dims4/default/387d311/2147483647/resize/800x%3E/quality/90/?url=https%3A%2F%2Fidc.brightspotcdn.com%2Fc2%2Fdf%2F657f01ef4114b74d063b2618b68b%2Fadobestock-336831758.jpeg');">
                <div class="aboutus-row">
                    <div class="aboutus-col">
                        <h1>Welcome to Tutofinder!</h1>
                        <p> Click here for more information about
                            us</p>
                        <a href="https://w7moises.github.io/AplicacionesLandingPage/" target="_blank">
                            <button>ABOUT US</button>
                        </a>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>
