<div class="login-container">
  <div class="left-container" [ngStyle]="myStyle()">
    <h1>Welcome to Tutofinder!</h1>
    <h2>Click here for more information to join us</h2>
    <button
      (click)="
        redirectTo('https://w7moises.github.io/AplicacionesLandingPage/')
      "
    >
      About Us
    </button>
  </div>
  <div class="right-container">
    <div class="logo-row">
      <img class="logo" src="../assets/imgs/tutofinder.png" alt="Tutofinder" />
    </div>
    <div class="message-row">
      <h1 class="message-title">Find out the best tutorship for you!</h1>
    </div>
    <div class="form-card mat-elevation-z8">
      <app-login-form
        (registrarse)="activateRegister()"
        *ngIf="activeComponent[0]"
      ></app-login-form>
      <app-register-form
        (cancelarRegistro)="activateLogin()"
        *ngIf="activeComponent[1]"
      ></app-register-form>
    </div>
  </div>
</div>
