<form [formGroup]="loginForm">
  <div class="form-controller">
    <label>Email</label>
    <div class="form-container">
      <input
        id="email"
        placeholder="Email"
        formControlName="email"
        type="email"
      />
      <mat-icon>email</mat-icon>
    </div>
    <p
      class="error"
      *ngIf="loginForm.get('email').errors && loginForm.get('email').touched"
    >
      Por favor ingrese el correo correctamente
    </p>
  </div>
  <div class="form-controller">
    <label>Contraseña</label>
    <div class="form-container">
      <input
        id="email"
        placeholder="Contraseña"
        formControlName="password"
        type="password"
      />
      <mat-icon>lock</mat-icon>
    </div>
    <p
      class="error"
      *ngIf="
        loginForm.get('password').errors && loginForm.get('password').touched
      "
    >
      Por favor ingrese la contraseña
    </p>
  </div>
  <button (click)="logIn()">Ingresar</button>
  <p id="register-paragraph" (click)="openRegister()">
    ¿No tienes una cuenta? Regístrate
  </p>
</form>
