@import "src/assets/styles/sharedstyles.scss";

form {
  @include center();
  @include title();
  @include form-controller(
    (
      Properties: (
        height: 30px,
      ),
    )
  );
  @include paragraph();
  @include button();
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  button {
    width: 100%;
  }
  width: 100%;
  height: 100%;
  .form-controller {
    .form-container {
      border-radius: 10px;
      display: flex;
      align-items: center;
      padding: 8px;
    }
    p.error {
      margin: 0;
    }
  }
  #register-paragraph {
    margin-top: 10px;
    font-size: 0.9rem;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease-in;
  }
  #register-paragraph:hover {
    transform: translateY(-2px);
  }
}
