@import "src/assets/styles/sharedstyles.scss";

mat-slide-toggle {
  p {
    margin: 0;
  }
}
form {
  height: 400px;

  overflow: scroll;
  @include form-controller(
    (
      Properties: (
        height: 20px,
      ),
    )
  );
  @include button();
  @include paragraph();
  .form-controller {
    .form-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  button {
    width: 100%;
    margin-bottom: 10px;
  }
}
