<div class="course">
  <h1 *ngIf="this.data == null">Crear Curso</h1>
  <h1 *ngIf="this.data != null">Editar Curso</h1>

  <form [formGroup]="courseForm" (onSubmit)="createCourse()">
    <div class="form-controller">
      <label>Nombre del curso</label>
      <div class="form-container">
        <input
          placeholder="Nombre del curso"
          formControlName="name"
          type="text"
        />
        <mat-icon>book</mat-icon>
      </div>
      <p
        class="error"
        *ngIf="courseForm.get('name').errors && courseForm.get('name').touched"
      >
        Por favor ingrese el nombre
      </p>
    </div>

    <button *ngIf="data == null" (click)="createCourse()">Crear Curso</button>
    <button *ngIf="data != null" (click)="editCourse()">Editar Curso</button>
    <button *ngIf="data != null" (click)="deleteCourse()">Borrar Curso</button>

    <button (click)="cancel()">Cancelar</button>
  </form>
</div>
